<header class="site-header">
  <div class="container header-inner">
    <a class="brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>

    <nav class="nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/pages/ideas/' | relative_url }}">Ideas</a>
      <a href="{{ '/pages/portfolio/' | relative_url }}">Portfolio</a>
      <a href="{{ '/pages/about/' | relative_url }}">About</a>
      <a class="btn" href="{{ '/pages/contact/' | relative_url }}">Contact</a>
    </nav>
  </div>
</header>

